@media (max-width: 320px) {
  ul.table-view li.table-view-cell {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 320px;
  }
}

.content p {
  text-align: center;
}
.content p.digicoins {
  margin-top: 1.5em;
  text-align: center;
}
.content p.digicoins a {
  color: #f77000;
  background: url(digicoins.png) no-repeat center left;
  padding-left: 19px;
}

.error {
  color: #d9534f;
}

.hide {
  display: none;
}
.delta-usd, .delta-ars {
  right: 35px !important;
}
